.todo{
  /* width: 330px; */
  /* height: 440px; */
  padding: 10px;
  position: relative;
}

.timer{
  text-align: center;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.done{
  color: green;
}

.not-done{
  color: red;
}

.append-btn{
  position: absolute;
  right: 10px;
  top: 5px;
}

.task-contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  color: black;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 10px;
}

.doned {
  text-decoration: line-through;
  opacity: 0.5;
}

.done-btn {
  color: greenyellow;
}

.delete-btn {
  color: red;
}

.task-btn-area{
  min-width: 70px;
}