.post-detail-title {
  border-bottom: 2px solid;
  padding: 15px 0px;
  text-align: center;
}

.post-detail-content {
  padding: 1rem; /* 내용에 여백 추가 */
  margin-top: 1rem; /* 제목과 구분하기 위해 마진 추가 */
}

.post-detail-btn-area {
  text-align: center;
}