.category-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid;
}

.post-btn {
  background-color: cornflowerblue;
  margin-top: 25px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.post-btn:hover {
  background-color: dodgerblue;
}